@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  text-decoration: none;
}
.content {
  display: flex;
}
/* onboarding */
.onboarding {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.onboarding h2{
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #f1356d;
}
.onboarding h3{
  margin-bottom: 20px;
  text-align: center;
  color: #f1356d;
}
.onboarding p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}
.onboarding button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
/* sign up page*/
.sign-up {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.sign-up label, input {
  text-align: left;
  display: block;
}
.sign-up h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.sign-up input {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.sign-up p {
  margin-bottom: 30px;
}
/*Not found page*/
.not-found {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.not-found h2 {
  font-size: 2rem;
  color: #f1356d;
  margin-bottom: 20px;
}
.not-found p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.not-found a {
  background: #f1356d;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
}

/*sidebar*/
main{
  padding:25px;
}
.sidebar{
  height: 100vh;
  background: #f1356d;
  padding: 20px;
  color: #fff;
}
.top-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.top-section h2{
  color: #fff;
}
.bars {
  font-size: 1.8rem;
}
.link{
  display: flex;
  align-items: center;
  padding: 25px;
  gap: 15px;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s;
}
.link:hover{
  background: #fff;
  border-radius: 8px;
  color: #f1356d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.active{
  background: #fff;
  border-radius: 8px;
  color: #f1356d;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.icon{
  font-size: 1.2rem;
}

/*dashboard*/
.card-statistic{
  padding: 25px;
}
.card-statistic h2{
  font-size: 1.5rem;
  color: #f1356d;
}
.password-list{
  margin-top: 15px;
}
.password-list h2{
  color: #f1356d;
}
.password-list p{
  font-weight: bold;
  margin-bottom: 15px;
}
.floating-button{
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background: #f1356d;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px whitesmoke;
}
.add-password{
  max-width: 500px;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 4px 8px #f1356d;
  text-align: center;
  margin-top: 20px;
  background-color: #fff;
}
.add-password label, input {
  text-align: left;
  display: block;
}
.add-password h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.add-password input {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.add-password p {
  margin-bottom: 30px;
}
.add-password button {
  width: 100%;
  background-color: #f1356d;
  color: #fff;
  border: 0;
  border-radius: 8px;
  margin: 15px;
  height: 30px;
  cursor: pointer;
}
.content-password{
  border: #ccc 1px solid;
  display: flex;
  justify-content: space-evenly;
}
.close{
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
  font-size: 15px;
  width: 10%;
  margin-left: auto;
}
.user-profile-info{
  padding: 25px;
  margin-top: 25px;
}
.user-profile-info h2{
  color: #f1356d;
}
.user-profile-info-item span{
  font-weight: bold;
}
.user-profile-info-item p{
  font-style: italic;
}
.user-profile-info-item{
  margin-bottom: 15px;
}
.profile-button{
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  width: 100%;
  margin-left: 5px
}